{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Aluguel{% endblock title %}

{% block conteudo %}
    <h1><center>Aluguel de Veículo</center></h1>

    {% bootstrap_messages %}

    <form action="{% url 'aluguel' %}" method="post" class="form" autocomplete="off">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        {% endbuttons %}
    </form>
{% endblock conteudo %}
