{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        {% bootstrap_css %}
    </head>
    <body>
        <div class="container" style="padding-top: 5px;">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="{% url 'index' %}">Controle de Veículos</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" href="{% url 'index' %}">Página Inicial <span class="sr-only">(current)</span></a>
                        <a class="nav-link" href="{% url 'veiculo' %}">Veículos</a>
                        <a class="nav-link" href="{% url 'motorista' %}">Motoristas</a>
                        <a class="nav-link" href="{% url 'aluguel' %}">Aluguel de Veículo</a>
                    </div>
                </div>
            </nav>

            <br /><br />

            {% block conteudo %}
            {% endblock conteudo %}
        </div>
        {% bootstrap_javascript jquery='full' %}
    </body>
</html>
