{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Menu{% endblock title %}

{% block conteudo %}

    <form action="{% url 'index' %}" method="get" class="form" autocomplete="off">
        {% csrf_token %}
        <label>Consultar por Data de Saída</label>
        <div class="input-group">
            <input type="date" class="form-control" name="data_saida">
            {% buttons %}
                <button type="submit" class="btn btn-secondary">Pesquisar</button>
                <a href="{% url 'index' %}" class="btn btn-light">Limpar</a>
            {% endbuttons %}
        </div>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Ações</th>
                <th scope="col">Veículo</th>
                <th scope="col">Motorista</th>
                <th scope="col">Data Saida</th>
                <th scope="col">Hora Saida</th>
                <th scope="col">Km Saida</th>
            </tr>
        </thead>
        <tbody>
            {% for alu in aluguel %}
                <tr>
                    <td>
                        <a href="{% url 'aluguel_view' alu.id %}"><button class="btn btn-warning">Visualizar</button></a>
                        <a href="{% url 'aluguel_edit' alu.id %}"><button class="btn btn-success">Editar</button></a>
                        <a onclick="confirmarDeleteAluguel({{ alu.id }})" class="btn btn-danger">Excluir</a>
                    </td>
                    <td>{{ alu.veiculo }}</td>
                    <td>{{ alu.motorista }}</td>
                    <td>{{ alu.data_saida }}</td>
                    <td>{{ alu.hora_saida }}</td>
                    <td>{{ alu.km_saida }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
{% endblock conteudo %}
